{#
/**
 * @file
 *
 * Default product template.
 *
 * Available variables:
 * - attributes: HTML attributes for the wrapper.
 * - product: The rendered product fields.
 *   Use 'product' to print them all, or print a subset such as
 *   'product.title'. Use the following code to exclude the
 *   printing of a given field:
 *   @code
 *   {{ product|without('title') }}
 *   @endcode
 * - product_entity: The product entity.
 * - product_url: The product URL.
 *
 * @ingroup themeable
 */
#}
{% set classes = [
'product-post',
  'footer-product'
] %}

<div{{ attributes.addClass(classes) }}>
  <div class="row">
    <div class="col-3 col-md-5">
      <div class="post-image">
        <div class="footer-product-image"><a href="{{ product_url }}">{{ product.field_image }}</a></div>
      </div>
    </div>
    <div class="col-8 col-md-7 product-teaser-wrap">
      <div class="product-title"><a href="{{ product_url }}">{{ product.variation_title }}</a></div>
    </div>
  </div>
</div>
